@font-face {
  font-family: 'gotham';
  src: url(./fonts/GothamRndSSm-Bold.otf) format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#signin {
  background-image: url('/images/signin_page.png');
  width: 360px;
  height: 600px;
  text-align: center;
}

#logo {
  width: 232px;
  height: 287px;
  display: block;
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

#signinButton {
  display: inline-block;
  background: white;
  color: #444;
  border: thin solid #888;
  border-radius: 5px;
  white-space: nowrap;
  margin-top: 10%;
}
span.icon {
  background: url('/images/googleG.png') transparent 5px 50% no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#navigation {
  border: 2px solid purple;
  width: 360px;
  height: 600px;
}
#navTop {
  text-align: center;
  margin-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 6px -6px black;
}
#navLogo {
  margin-left: 30%;
  margin-right: auto;
  text-align: center;
}
#container {
  width: 20%;
  height: 30%;
}
#berries {
  background-color: #ff5252;
  border-radius: 18px;
  width: auto;
  padding: 0.03;
  text-align: center;
  overflow: auto;
  margin: auto;
}

#boundBerries {
  width: 35%;
  height: auto;
  float: left;
  padding-left: 18%;
  margin-top: 5%;
}
#count {
  color: white;
  float: right;
  padding-right: 18%;
  font-size: 0.8em;
}
#navBottom {
  position: fixed;
  width: 360px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 7px;
  box-shadow: 0px -2px 6px -6px black;

  /* test this on chrome extension*/
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white; */
}

#calBody {
  height: 460px;
}
#storeBody {
  height: 460px;
}
