body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 360px;
  height: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#signin {
  background-image: url('/images/signin_page.png');
  width: 360px;
  height: 600px;
  text-align: center;
}

#logo {
  width: 232px;
  height: 287px;
  display: block;
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

#signinButton {
  display: inline-block;
  background: white;
  color: #444;
  border: thin solid #888;
  border-radius: 5px;
  white-space: nowrap;
  margin-top: 10%;
}
span.icon {
  background: url('/images/googleG.png') transparent 5px 50% no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#home {
  border: 2px solid red;
}
#border {
  border: 2px solid black;
  text-align: center;
}
#txt {
  display: inline-block;
  text-align: center;
}
span.berries {
  background-color: #ff5252;
  width: 50px;
  height: 30px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 10%;
}
#nav {
  border: 2px solid blue;
  text-align: center;
}
.navTxt {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}


/* ---------------------------------Start Calendar---------------------------------*/
.
#upcomingEvents {
  font-family: AvenirNext-DemiBold;
  font-size: 16px;
  color: rgba(0,0,0,0.78);
  letter-spacing: 0.25px;
  text-align: left;

}

#eventTitle {
  font-family: AvenirNext-Medium;
  font-size: 13px;
  color: rgba(0,0,0,0.78);
  letter-spacing: 0.2px;
  text-align: left;
  line-height: 23px;
}

#numberOfBerries {
  font-family: AvenirNext-Bold;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  text-align: left;  
}


.checkIn {
  font-family: AvenirNext-DemiBold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.22px;
  text-align: center;
  line-height: 13px;
}

/* ---------------------------------End Calendar---------------------------------*/
